.topSetUp {
  display: flex;
  justify-content: space-around;
}

.timerCountdown {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 15px;
  font-size: 30px;
  margin-top: -40px;
  margin-left: -10px;
}

.bottomcircleIcon {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-top: 390px;
}

.pausecircleIcon {
  font-size: 70px;
}

.stopcircleIcon {
  font-size: 70px;
}

.pausecircleIcon path {
  color: var(--primary);
}

.stopcircleIcon path {
  color: var(--primary);
}

.sparkyWalk1 {
  display: flex;
  justify-content: center;
  position: fixed;
}

.sparkyWalk2 {
  width: 80%;
  margin-left: -120px;
  margin-top: 60px;
}

.sparkyGrass1 {
  display: flex;
  justify-content: center;
  width: 85%;
  border-radius: 20px;
  margin: auto 20px;
  z-index: -1000000;
  overflow: hidden;
  border: 1px solid var(--primary);
  position: fixed;
  margin-top: -10px;
}

.sparkyGrass2 {
  margin: 0 0 0 0;
  height: 340px;
}

.focey {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* gap: 5px; */
  position: fixed;
  margin-left: 65px;
  margin-top: -20px;
}

.happySection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin-top: 12px;
  margin-left: -30px;
}

.foceySection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin-top: -30px;
  margin-left: -38px;
}

.points {
  color: white;
  font-weight: 500;
  font-size: 20px;
  z-index: 1000000;
}

.starLogo {
  color: gold;
  font-size: 25px;
}

.happiness {
  color: white;
  font-weight: 500;
  font-size: 20px;
  z-index: 1000000;
}

.happyFace {
  color: gold;
  font-size: 25px;
}
