@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap%27");
:root {
  --primary: #004fc5;
  --secondary: #fcfcfc;
  --tertiary: #e20000;
}
body {
  margin: 0;
  font-family: "Mulish", sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
